<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href={% static 'pyscript/pyscript.css' %} />
    <script defer src={% static 'pyscript/pyscript.js' %}></script>
<py-config type="json">
    {
      "packages": ["scikit-learn", "{% static 'python-packages/fuzzywuzzy-0.18.0-py2.py3-none-any.whl' %}"],
      "paths": ["{% static 'recommender/knn_recommender.py' %}", "{% static 'model/hashmap.p' %}", "{% static 'model/movie_user_mat_sparse.p' %}"]
    }
</py-config>
  </head>
  <body>
    <main class="max-w-xs mx-auto mt-4">
    <section>
    <div class="text-center w-full mb-8">
      Your favourite movie: <input id="fav-movie" class="border flex-1 mr-3 border-gray-300 p-2 rounded" type="text">
    <br/>
      Number of recommendation:<input id="top-n" class="border flex-1 mr-3 border-gray-300 p-2 rounded" type="text">
    <br/>
      <button id="run-btn" class="p-2 text-white bg-blue-600 border border-blue-600 rounded" type="submit" pys-onClick="recommend">
        Recommend!
      </button>
    </div>
    <div class="text-center w-full mb-8" id="output"></div>
    <py-script>
      import warnings
      warnings.filterwarnings("ignore")
      from knn_recommender import KnnRecommender
      def HTML(text):
        return text.replace("[[", "<").replace("]]", ">")
      def recommend(evt=None):
        recommender = KnnRecommender('./hashmap.p', './movie_user_mat_sparse.p')
        recommender.set_model_params(20, 'brute', 'cosine', -1)
        movie_name = Element('fav-movie').value
        top_n = Element('top-n').value
        if movie_name:
          top_n = int(top_n) if top_n else 10
          recommendations = recommender.make_recommendations(movie_name, top_n)
          output = '[[ol]]' + '\n'.join([f'[[li]]{recommend}[[/li]]' for recommend in recommendations]) + '[[/ol]]'
          pyscript.write('output', HTML(output))
      run_btn = Element('run-btn')
      run_btn.element.onclick = recommend
    </py-script>
  </section>
  </main>
  </body>
</html>
